body {
    background: url('../img/bg_page.jpg') repeat-x;
}

a {
    color: #007dcc;
}

textarea.window {
    display: block;
    width: 100%;
    height: 760px;
}

div.topbar {
    width: 900px;
}

div.container {
    margin: 0 auto;
    width: 900px;
}

div.editor {
    width: 1300px;
}

div.left, div.right {
    width: 598px;
}

div.center {
    width: 70px;
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

ul.lines {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 766px;
    margin-top: 4px;
}

ul.lines li {
    width: 26px;
    border: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 17px;
}

div.left, div.right {
    padding: 0;
    margin: 0;
}

ul.left li:nth-child(1){
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}

ul.right li:nth-child(1){
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}

ul.left li:nth-last-child(1){
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-left-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}

ul.right li:nth-last-child(1){
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

ul.lines li:nth-child(2n+1){
    background: #f1f1f1;
}

ul.lines li:nth-child(2n){
    background: #f9f9f9;
}

ul.lines li:nth-last-child(1) {
    border-bottom: 1px solid #ddd;
}

ul.left li {
    border-right: none;
}

div.center td {
    padding: 0;
}

span.label-success {
    background-color: #69c541;
}

div.process {
    margin-top: 10px;
    margin-left: 120px;
    height: 16px;
    text-align: center;
    display: inline-block;
    width: 18%;
}

.progress-inversed {
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.progress-inversed .bar {
    background-color: #dd514c;
    background-image: -moz-linear-gradient(top, #414141, #111111);
    background-image: -ms-linear-gradient(top, #414141, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#111111));
    background-image: -webkit-linear-gradient(top, #414141, #111111);
    background-image: -o-linear-gradient(top, #414141, #111111);
    background-image: linear-gradient(top, #414141, #111111);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#414141', endColorstr='#111111', GradientType=0);
}

ul.breadcrumb {
    background: #fcfcfc;
}

div.bottom ul li {
    float: right;
    list-style: none;
    margin-left: 20px;
}

div.bottom ul li a {
    color: #414141;
    padding: 4px 8px;
    display: block;
}

div.bottom ul li a:hover {
    text-decoration: none;
}

div.bottom ul li.active a {
    background: #f0f0f0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}