body {
    padding-top: 60px;
}

textarea.window {
    display: block;
    width: 100%;
    height: 800px;
}

div.container {
    margin: 0 auto;
    width: 900px;
}

div.editor {
    width: 1300px;
}

div.center {
    width: 70px;
    margin: 0;
    padding: 0;
    padding-left: 22px;
}

ul.lines {
    width: 27px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 806px;
    margin-top: 2px;
}

ul.lines li {
    width: 25px;
    border: 1px solid #ddd;
    border-bottom: none;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 17px;
}

div.left, div.right {
    padding: 0;
    margin: 0;
}

ul.lines li:nth-child(2n+1){
    background: #ffffe2;
}

ul.lines li:nth-child(2n){
    background: #ebffe2;
}

div.info {
    margin: 0 auto;
    width: 1300px;
    height: 20px;
}

div.buttons {
    padding-top: 10px;
    width: 260px;
    margin-left: 120px;
}