<div class="main_content">
    <div class="box_columns clear_fix">
        <div class="column_01">
            <div class="submenu">
                <ul class="list_submenu">
                    <li{% if 'index' == pagename %} class="selected"{% endif %}><a href="{{ pathto('index') }}">Documentation</a></li>

                    {% if hasdoc('book/index') %}
                    <li{% if 'book' in pagename and 'cookbook' not in pagename %} class="selected"{% endif %}><a href="{{ pathto('book/index') }}">The Book</a></li>
                    {% endif %}
                    {% if hasdoc('cookbook/index') %}
                    <li{% if 'cookbook' in pagename %} class="selected"{% endif %}><a href="{{ pathto('cookbook/index') }}">The Cookbook</a></li>
                    {% endif %}
                    {% if hasdoc('components/index') %}
                    <li{% if 'components' in pagename %} class="selected"{% endif %}><a href="{{ pathto('components/index') }}">The Components</a></li>
                    {% endif %}
                    {% if hasdoc('reference/index') %}
                    <li{% if 'reference' in pagename %} class="selected"{% endif %}><a href="{{ pathto('reference/index') }}">Reference</a></li>
                    {% endif %}
                    {% if hasdoc('glossary') %}
                    <li{% if 'glossary' == pagename %} class="selected"{% endif %}><a href="{{ pathto('glossary') }}">Glossary</a></li>
                    {% endif %}

                    <li{% if 'genindex' == pagename %} class="selected"{% endif %}><a href="{{ pathto('genindex') }}">Index</a></li>

                    {% if hasdoc('bundles/index') %}
                    <li{% if 'bundles' in pagename %} class="selected"{% endif %}><a href="{{ pathto('bundles/index') }}">Bundles</a></li>
                    {% endif %}
                    {% if hasdoc('contributing/index') %}
                    <li{% if 'contributing' in pagename %} class="selected"{% endif %}><a href="{{ pathto('contributing/index') }}">Contributing</a></li>
                    {% endif %}

                </ul>
            </div>

            {% if display_toc %}
            <div class="toc">
                <h2 class="title_05">Table of Contents</h2>

                <div class="toc-content">
                    {{ toc }}
                </div>
            </div>
            {% endif %}

        </div>
        <div class="column_02">
            <div class="box_title">
                <h1 class="title_01">{{ title }}</h1>
            </div>


            <div class="box_article doc_page">
                {% block body %}{% endblock %}
            </div>

            {% if prev or next %}
            <div class="navigation">
                {% if prev %}
                    <a href="{{ prev.link|e }}">&laquo;&nbsp;{{ prev.title }}</a>
                {% endif %}
                <span class="separator">|</span>
                {% if next %}
                    <a href="{{ next.link|e }}">{{ next.title }}&nbsp;&raquo;</a>
                {% endif %}
            </div>

            <div class="box_hr">
                <hr/>
            </div>
            {% endif %}

        </div>
    </div>
</div>